<div class="client-info-side-panel-wrapper">
    <div class="card-panel-wrapper">
    	<div class="card-panel-header">
            <i class="fa fa-bars" style="color: #9b88aa; margin-right: 5px;"></i>
            <span translate="contactinfo.ACTIVETASKS"></span>
            <span translate="contactinfo.INACTIVETASKS" class="tab disabled"></span>
        </div>
    	<div class="card-panel-content">
    		<div class="task-list-item" ng-repeat="task in activeTasks">
    			<div class="task-list-item-header">
    				<input type="radio">
    				<span class="task-name">{{task.name}}</span>
    				<span class="task-status">{{task.status}}</span>
    			</div>
    			<div class="task-list-item-desc">{{task.desc}}</div>
    			<div class="task-list-item-owner"><i class="icon person"></i>{{task.owner}}</div>
    		</div>
    	</div>
    </div>
    <div class="card-panel-wrapper">
    	<div class="card-panel-header">
    		<div class="card-header">
	    		<div class="card-title"><i class="icon bookmark"></i><span translate="contactinfo.RECENTACTIVITY"></span></div>
	    		<div class="card-button" translate="contactinfo.VIEWALL"></div>
	    	</div>
    	</div>
    	<div class="card-panel-content">
    		<div class="task-list-item ra" ng-repeat="ra in recentActivities">
    			<div class="ra-icon-wrapper"><i class="icon {{ra.icon}}"></i></div>
    			<div style="display: inline-block;">
	    			<div class="task-list-item-header">
	    				<span class="task-name">{{ra.name}}</span>
	    				<span class="task-date">{{ra.date}}</span>
	    			</div>
	    			<div class="task-list-item-desc" ng-bind-html="ra.desc"></div>
	    		</div>
    		</div>
    	</div>
    </div>
    <div class="card-panel-wrapper">
    	<div class="card-panel-header">
    		<div class="card-header">
	    		<div class="card-title"><i class="icon notes"></i><span translate="contactinfo.NOTES"></span><span class="count">1</span></div>
	    		<div class="card-button" translate="contactinfo.VIEWALL"></div>
	    	</div>
    	</div>
    	<div class="card-panel-content">
    		<div class="task-list-item" ng-repeat="note in notes">
    			<div class="task-list-item-header">
    				<span class="task-note-name">{{note.name}}</span>
    			</div>
    			<div class="task-list-item-note-desc" ng-bind-html="note.desc"></div>
    		</div>
    		<div class="task-list-item">
    			<button class="btn create-note">
					<i class="icon add"></i>
					<span translate="contactinfo.CREATENOTE"></span>
				</button>
    		</div>
    	</div>
    </div>
</div>