<div class="client-relationship crm-modal">
	<div class="crm-modal-header">
		<div class="title"><span translate="contactinfo.ADDRELATIONSHIP"></span><span class="pull-right close-btn" ng-click="close()"><i class="fa fa-close"></i></span></div>
	</div>
	<div class="crm-modal-content">
		<div class="address-wrapper">
			<div class="field-wrapper">
				<div class="field-label" translate="contactinfo.ENTITYNAME"></div>
				<div class="field-input">
					<input type="text">
				</div>
			</div>
			<div class="field-wrapper">
				<div class="field-label" translate="contactinfo.ENTITYTYPE"></div>
				<div class="field-input">
					<input type="text">
				</div>
			</div>
			<div class="field-wrapper">
				<div class="field-label" translate="contactinfo.ADDRESS"></div>
				<div class="field-input">
					<input type="text" style="height: 50px">
				</div>
			</div>
			<div class="field-wrapper">
				<div class="field-label" translate="contactinfo.MOBILE"></div>
				<div class="field-input">
					<input type="text">
				</div>
			</div>
			<div class="field-wrapper">
				<div class="field-label" translate="contactinfo.PHONE"></div>
				<div class="field-input">
					<input type="text">
				</div>
			</div>
			<div class="field-wrapper">
				<div class="field-label" translate="contactinfo.FAX"></div>
				<div class="field-input">
					<input type="text">
				</div>
			</div>
			<div class="field-wrapper">
				<div class="field-label" translate="contactinfo.EMAIL"></div>
				<div class="field-input">
					<input type="text">
				</div>
			</div>
		</div>
		<div class="save-close-btn" ng-click="close()" translate="contactinfo.SAVEANDCLOSE"></div>
	</div>
</div>