<div class="client-tab-wrapper" ng-controller="ClientCtrl">
	<div class="pull-right">
		<button class="btn add-existing">
			<i class="icon add"></i>
			<span>Add Existing</span>
		</button>
		<button class="btn add-client">
			<i class="icon add"></i>
			<span>Add Client</span>
		</button>
	</div>
	<table class="table table-striped table-hover" id="client-tab-table">
        <thead>
            <tr>
            	<th>Name</th>
                <th>Preferred Name</th>
                <th class="center">DOB</th>
                <th class="center">Gender</th>
                <th class="center">Smoker</th>
                <th>Phone</th>
                <th>Role</th>
            </tr>
        </thead>
		<tbody>
			<tr ng-repeat="client in clients">
				<td>{{client.FullName}}</td>
				<td>{{client.PreferredName}}</td>
				<td class="center">25/2/1965</td>
				<td class="center">{{client.Gender}}</td>
				<td class="center">{{client.SmokerStatus}}</td>
				<td>
					<div class="client-phone" ng-repeat="p in client.Phone">{{p.Number}}</div>
				</td>
				<td>
					<div style="display: inline-block;">{{client.Role}}</div>
					<div style="display: inline-block;">
                        <a href="#" class="btn btn-transparent btn-xs edit"><i class="icon edit"></i></a>
                        <a href="#" class="btn btn-transparent btn-xs tooltips delete"><i class="icon delete"></i></a>
                    </div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="client-relationships-panel">
		<div class="relationship-header">
			<div class="header">Relationships</div>
			<button class="btn add-client pull-right" ng-click="open('sm')">
				<i class="icon add"></i>
				<span>Add Relationships</span>
			</button>
		</div>

		<div class="relationship-content">
			No Relationships Added
		</div>
	</div>
	<div class="client-contact-info-panel">
		<div class="contact-info-header">
			<div class="header">Contact Information</div>
		</div>

		<div class="contact-info-content">
			<div class="left-panel">
				<div class="address-wrapper">
					<div class="header">Home Address</div>
					<div class="field-wrapper">
						<div class="field-label">ADDRESS</div>
						<div class="field-input">
							<textarea placeholder="UNIT/FLAT NUMBER, STREET ADDRESS"></textarea>
							<div class="checkbox">
								<input type="radio">&nbsp;same as Mailing Address
							</div>
						</div>
					</div>
				</div>
				<div class="address-wrapper">
					<div class="header">Mailing Address</div>
					<div class="field-wrapper">
						<div class="field-label">ADDRESS</div>
						<div class="field-input">
							<textarea placeholder="UNIT/FLAT NUMBER, STREET ADDRESS"></textarea>
						</div>
					</div>
				</div>
				<div class="address-wrapper">
					<div class="field-wrapper">
						<div class="field-label"></div>
						<div class="field-input">
							<div class="checkbox include">
								<input type="radio">&nbsp;Include in marketing
							</div>
							<div class="checkbox include">
								<input type="radio">&nbsp;Include in newsletters
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="right-panel pull-right">
				<div class="address-wrapper">
					<div class="field-wrapper">
						<div class="field-label">ADVISER</div>
						<div class="field-input">
							<input type="text">
						</div>
					</div>
					<div class="field-wrapper">
						<div class="field-label">EMAIL</div>
						<div class="field-input">
							<input type="text">
						</div>
					</div>
					<div class="field-wrapper">
						<div class="field-label">CLIENT TYPE</div>
						<div class="field-input">
							<input type="text" style="height: 50px">
							<div class="add-btn"><i class="icon add"></i></div>
						</div>
					</div>
					<div class="field-wrapper">
						<div class="field-label">RATING</div>
						<div class="field-input">
							<input type="text" placeholder="SELECT RATING">
							<div class="add-btn"><i class="icon add"></i></div>
						</div>
					</div>
					<div class="field-wrapper">
						<div class="field-label">REVIEW MONTH</div>
						<div class="field-input">
							<input type="text" placeholder="SELECT MONTH">
							<div class="add-btn"><i class="icon add"></i></div>
						</div>
					</div>
					<div class="field-wrapper">
						<div class="field-label">REFERENCE CODE</div>
						<div class="field-input">
							<input type="text">
						</div>
					</div>
					<div class="field-wrapper">
						<div class="field-label">REFERRAL SOURCE</div>
						<div class="field-input">
							<input type="text" placeholder="SELECT MONTH">
							<div class="add-btn"><i class="icon add"></i></div>
						</div>
					</div>
					<div class="field-wrapper">
						<div class="field-label">CATEGORIES</div>
						<div class="field-input">
							<input type="text">
							<div class="add-btn"><i class="icon add"></i></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>