<div class="contact-info-wrapper" ng-controller="ContactInfoCtrl">
	<!-- start: BREADCRUMB -->
	<div class="breadcrumb-wrapper">
		<div ncy-breadcrumb class="pull-left"></div>
	</div>
	<div class="">
		<h4 class="mainTitle no-margin">{{contact.FamilyFullName}}</h4>
		<div class="buttons-wrapper">
			<div class="send-email-btn" translate="contactinfo.SENDEMAIL"></div>
			<div class="send-mail-btn" translate="contactinfo.SENDMAIL"></div>
			<div class="print-btn hidden-xs" translate="contactinfo.PRINTSUMMARY"></div>
		</div>
		<div class="contact-list-header-info hidden-xs"><span translate="contacts.LASTUPDATED"></span> <span class="last-update-date">{{ "2016-06-04" | date: "'Yesterday' MMMM d, y" }}</span></div>
	</div>
	<!-- end: BREADCRUMB -->
	<div class="container-fluid container-fullw">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="panel panel-white">
	                <div class="panel-body">
	                	<div class="visible-xs toggle-tabs-btn" ng-click="toggleMenu()" ng-class="{'menu-shown': showTabs}"><i class="fa fa-bars"></i></div>
	                    <uib-tabset class="tabbable" ng-class="{'menu-shown': showTabs}">
                            <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled" ng-click="toggleMenu()">
                                <div data-ng-include="tab.content"></div>
                            </uib-tab>
                        </uib-tabset>
	                </div>
	            </div>
                <div class="side-panel-wrapper" data-ng-include="'assets/views/client_info_side_panel.html'"></div>
	        </div>
	    </div>
	</div>
</div>