<div class="contact-list-wrapper" ng-controller="ContactsCtrl">
	<!-- start: BREADCRUMB -->
	<div class="breadcrumb-wrapper">
		<h4 class="mainTitle no-margin" translate="contacts.TITLE">Contacts</h4>
		<div class="contact-list-header-info count hidden-xs"><span>{{contactList.TotalNumber}}</span> <span translate="contacts.TOTALCONTACTS"></span></div>
		<div class="contact-list-header-info hidden-xs"><span translate="contacts.LASTUPDATED"></span> <span class="last-update-date">{{ "2016-06-04" | date: "'Yesterday' MMMM d, y" }}</span></div>
		<div class="pull-right hidden-xs">
			<button class="btn add-contacts">
				<i class="icon add"></i>
				<span translate="contacts.ADDCONTACTS"></span>
			</button>
			<button class="btn merge-contacts">
				<i class="icon merge"></i>
				<span translate="contacts.MERGECONTACTS"></span>
			</button>
		</div>
	</div>
	<!-- end: BREADCRUMB -->
	<div class="container-fluid container-fullw">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="panel panel-white">
	            	<div class="letter-filter">
	            		<div class="letter" ng-repeat="letter in alphabet" ng-click="getContactByStartsWith(letter)" ng-class="{'selected-contact': startsWithLetter == letter}">{{letter}}</div>
	            	</div>
	                <div class="panel-body">
	                    <table class="table table-striped table-hover" id="contact-list-table">
	                        <thead>
	                            <tr>
	                            	<th><input class="hidden-xs" type="radio" type="family"><span class="visible-xs letter-header">A</span></th>
	                                <th><span class="hidden-xs" translate="contacts.FAMILYNAME"></span></th>
	                                <th class="hidden-xs"><span translate="contacts.CITY"></span> <i class="icon filter"></i></th>
	                                <th class="hidden-xs" translate="contacts.CONTACTNUMBER"></th>
	                                <th class="hidden-xs"><span translate="contacts.ADVISER"></span>  <i class="icon filter"></i></th>
	                                <th class="hidden-xs"><span translate="contacts.CLIENTTYPE"></span>  <i class="icon filter"></i></th>
	                                <th>
	                                	<form role="search" class="navbar-form main-search">
						                    <div class="form-group">
						                        <input type="text" placeholder="{{ 'contacts.search.PLACEHOLDER' | translate }}" class="form-control hidden-xs" ng-model="searchText">
						                        <button class="btn search-button" type="submit">
						                            <i class="fa fa-search"></i>
						                        </button>
						                    </div>
						                </form>
	                                </th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="contact in contactList.FamilyList | filter: filterContacts" ng-class="{ 'selected-contact' : selectedContact == {{contact.FamilyID}}}"
	                            	ui-sref="app.contact.info({id: contact.FamilyID})" ng-click="viewContactInfo(contact)">
	                            	<td class="hidden-xs"><input type="radio" name="family" value="{{contact.FamilyID}}" ng-click="selectContact(contact.FamilyID, $event)"></td>
	                                <td class="contact-full-family-name" ng-class="{ 'selected-contact' : selectedContact == {{contact.FamilyID}}}">
	                                	<div class="hidden-xs">{{getContactFamilyName(contact)}}</div>
	                                	<div class="visible-xs contact-info-panel">
		                                	<input type="radio" name="family" value="{{contact.FamilyID}}" ng-click="selectContact(contact.FamilyID, $event)" class="visible-xs">
		                                	<div class="contact-family-full-name-sm">{{getContactFamilyName(contact)}}</div>
		                                	<div class="action-buttons visible-xs" ng-class="{'selected-contact': selectedContact == {{contact.FamilyID}}}">
		                                        <a href="#" class="btn btn-transparent btn-xs edit"><i class="icon edit"></i></a>
		                                        <a href="#" class="btn btn-transparent btn-xs tooltips delete"><i class="icon delete"></i></a>
		                                    </div>
		                                </div>
		                                <div class="visible-xs contact-family-details" ng-show="selectedContact == {{contact.FamilyID}}">
	                                		<table class="contact-family-details-table">
	                                			<tbody>
	                                				<tr>
	                                					<td translate="contacts.CONTACTNUMBER"></td>
	                                					<td>{{contact.ContactNumber}}</td>
	                                				</tr>
	                                				<tr>
	                                					<td translate="contacts.CITY"></td>
	                                					<td>{{contact.City}}</td>
	                                				</tr>
	                                				<tr>
	                                					<td translate="contacts.ADVISER"></td>
	                                					<td>{{contact.Adviser}}</td>
	                                				</tr>
	                                				<tr>
	                                					<td translate="contacts.CLIENTTYPE"></td>
	                                					<td>{{contact.ClientType}}</td>
	                                				</tr>
	                                			</tbody>
	                                		</table>

	                                		<div class="view-full-contact-info-btn" translate="contacts.VIEWFULLCONTACTINFO"></div>
	                                	</div>
	                                </td>
	                                <td class="hidden-xs">{{contact.City}}</td>
	                                <td class="hidden-xs">{{contact.ContactNumber}}</td>
	                                <td class="hidden-xs">{{contact.Adviser}}</td>
	                                <td class="hidden-xs">{{contact.ClientType}}</td>
	                                <td class="hidden-xs">
	                                    <div style="display: flex">
	                                        <a href="#" class="btn btn-transparent btn-xs edit"><i class="icon edit"></i></a>
	                                        <a href="#" class="btn btn-transparent btn-xs tooltips delete"><i class="icon delete"></i></a>
	                                    </div>
	                                </td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>