<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin" translate="dashboard.WELCOME" translate-values="{ appName: app.name }">WELCOME TO CLIP-TWO</h4>
	<span class="mainDescription">overview &amp; stats </span>
	<div class="btn login" ng-click="login()">Login</div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: FIRST SECTION -->
<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-white no-radius">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 col-lg-4">
							<div class="panel panel-white no-radius no-border">
								<div class="panel-heading">
									<h2 class="inline-block"> Project List </h2>
									<p class="text-muted">
										Keep track of your projects
									</p>
								</div>
								<div class="panel-body">
									<ul class="list-group">
										<li class="list-group-item no-radius no-margin no-border-top no-border-left no-border-right">
											<div class="row">
												<div class="col-xs-6">
													<a href="#"><letter-icon data="Omega" color="#7F8C8D" size="sm" class="margin-right-5"></letter-icon>
														Omega</a>
												</div>
												<div class="col-xs-6">
													<span class="block padding-top-10"><uib-progressbar value="89" class="progress-xs no-radius background-dark no-margin" type="purple"></uib-progressbar></span>
												</div>
											</div>
										</li>
										<li class="list-group-item no-radius no-margin no-border-top no-border-left no-border-right">
											<div class="row">
												<div class="col-xs-6">
													<a href="#"><letter-icon data="Alpha" color="#947499" size="sm" class="margin-right-5"></letter-icon>
														Alpha</a>
												</div>
												<div class="col-xs-6">
													<span class="block padding-top-10"><uib-progressbar value="54" class="progress-xs no-radius background-dark no-margin" type="purple"></uib-progressbar></span>
												</div>
											</div>
										</li>
										<li class="list-group-item no-radius no-margin no-border-top no-border-left no-border-right">
											<div class="row">
												<div class="col-xs-6">
													<a href="#"><letter-icon data="Kappa" color="#5A8770" size="sm" class="margin-right-5"></letter-icon>
														Kappa</a>
												</div>
												<div class="col-xs-6">
													<span class="block padding-top-10"><uib-progressbar value="32" class="progress-xs no-radius background-dark no-margin" type="purple"></uib-progressbar></span>
												</div>
											</div>
										</li>
										<li class="list-group-item no-radius no-margin no-border-top no-border-left no-border-right">
											<div class="row">
												<div class="col-xs-6">
													<a href="#"><letter-icon data="Zeta" color="#5B9BD1" size="sm" class="margin-right-5"></letter-icon>
														Zeta</a>
												</div>
												<div class="col-xs-6">
													<span class="block padding-top-10"><uib-progressbar value="32" class="progress-xs no-radius background-dark no-margin" type="purple"></uib-progressbar></span>
												</div>
											</div>
										</li>
										<li class="list-group-item no-radius no-margin no-border">
											<div class="row">
												<div class="col-xs-6">
													<a href="#"><letter-icon data="Upsilon" color="#315777" size="sm" class="margin-right-5"></letter-icon>
														Upsilon</a>
												</div>
												<div class="col-xs-6">
													<span class="block padding-top-10"><uib-progressbar value="78" class="progress-xs no-radius background-dark no-margin" type="purple"></uib-progressbar></span>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="panel-footer no-border padding-top-0">
									<p class="no-margin">
										<a href="#"><i class="fa fa-arrow-circle-o-down text-green"></i> <span class="text-light margin-left-10">Show more details </span></a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-5 col-md-12">
							<div class="panel panel-white no-radius no-border" id="visits">
								<div class="panel-body margin-bottom-10">
									<div class="row padding-bottom-30">
										<div class="col-xs-4 text-center">
											<div class="margin-bottom-10">
												<letter-icon data="Alpha" color="#947499" size="sm" class="margin-right-10"></letter-icon><span class="text-extra-large text-bold">+5,04 %</span>
											</div>
											Alpha
										</div>
										<div class="col-xs-4 text-center">
											<div class="margin-bottom-10">
												<letter-icon data="Omega" color="#7F8C8D" size="sm" class="margin-right-10"></letter-icon><span class="text-extra-large text-bold">+2,21 %</span>
											</div>
											Omega
										</div>
										<div class="col-xs-4 text-center">
											<div class="margin-bottom-10">
												<letter-icon data="Kappa" color="#5A8770" size="sm" class="margin-right-10"></letter-icon><span class="text-extra-large text-bold">+0,68 %</span>
											</div>
											Kappa
										</div>
									</div>
									<!-- /// controller:  'ProductsCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
									<div ng-controller="ProductsCtrl">
										<canvas class="chart chart-line height-300" chart-data="data" chart-options="options" chart-labels="labels" chart-series="series" chart-colours="colors"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-12">
							<div class="row">
								<div class="col-md-6 col-lg-12">
									<div class="panel panel-white no-radius no-border">
										<div class="panel-heading no-border">
											<h4 class="panel-title"> Dashboard Users </h4>
										</div>
										<div class="panel-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="panel-scroll height-180" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
														<table class="table no-margin">
															<tbody>
																<tr>
																	<td class="center"><img alt="image" class="img-circle" src="assets/images/avatar-1-small.jpg"></td>
																	<td><span class="text-small block text-light">UI Designer</span>
																	<a href="#">
																		Peter Clark
																	</a></td>
																	<td class="text-right"><span class="label partition-purple">Administrator</span></td>
																</tr>
																<tr>
																	<td class="center"><img alt="image" class="img-circle" src="assets/images/avatar-2-small.jpg"></td>
																	<td><span class="text-small block text-light">Content Designer</span>
																	<a href="#">
																		Nicole Bell
																	</a></td>
																	<td class="text-right"><span class="label partition-green">Editor</span></td>
																</tr>
																<tr>
																	<td class="center"><img alt="image" class="img-circle" src="assets/images/avatar-3-small.jpg"></td>
																	<td><span class="text-small block text-light">Visual Designer</span>
																	<a href="#">
																		Steven Thompson
																	</a></td>
																	<td class="text-right"><span class="label partition-blue">Author</span></td>
																</tr>
																<tr>
																	<td class="center"><img alt="image" class="img-circle" src="assets/images/avatar-5-small.jpg"></td>
																	<td><span class="text-small block text-light">Senior Designer</span>
																	<a href="#">
																		Kenneth Ross
																	</a></td>
																	<td class="text-right"><span class="label partition-orange">Contributor</span></td>
																</tr>
																<tr>
																	<td class="center"><img alt="image" class="img-circle" src="assets/images/avatar-4-small.jpg"></td>
																	<td><span class="text-small block text-light">Web Editor</span>
																	<a href="#">
																		Ella Patterson
																	</a></td>
																	<td class="text-right"><span class="label partition-green">Editor</span></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-12">
									<div class="panel panel-white no-radius no-border">
										<div class="panel-heading no-border padding-bottom-0">
											<h4 class="panel-title"> All Earnings </h4>
										</div>
										<div class="panel-body no-padding">
											<!-- /// controller:  'AcquisitionCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
											<div ng-controller="AcquisitionCtrl">
												<canvas class="chart chart-bar height-75" chart-data="data" chart-options="options" chart-labels="labels" chart-series="series" chart-colours="colors"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: FIRST SECTION -->
<!-- start: SECOND SECTION -->
<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-lg-7">
			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-white panel-carousel dots-left no-border no-radius">
						<div class="panel-body no-padding height-200">
							<!-- start: CAROUSEL -->
							<slick dots=true arrows=false infinite=false speed=300 autoplay=true autoplay-speed=6000 slides-to-show=1 slides-to-scroll=1 class="carousel">
								<div class="slide padding-20 height-200" style="background: url('assets/images/carousel/01.jpg')">
									<h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Prjects <i class="fa fa-arrow-circle-o-right"></i></h5>
									<letter-icon data="Alpha" color="#947499" box="round" size="lg" class="margin-right-5"></letter-icon><h3 class="inline-block">Project Alpha</h3>
									<div class="block margin-top-10 ">
										<span class="label background-dark text-white margin-top-10 margin-right-5">75%</span><span class="cl-effect-19"></span>
										<a href="#" class="text-extra-small">
											track progress
										</a>
									</div>
								</div>
								<div class="slide padding-20 height-200" style="background: url('assets/images/carousel/02.jpg')">
									<h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Prjects <i class="fa fa-arrow-circle-o-right"></i></h5>
									<letter-icon data="Omega" color="#7F8C8D" box="round" size="lg" class="margin-right-5"></letter-icon><h3 class="inline-block">Omega</h3>
									<div class="block margin-top-10 ">
										<span class="label background-dark text-white margin-top-10 margin-right-5">45%</span><span class="cl-effect-19"></span>
										<a href="#" class="text-extra-small">
											track progress
										</a>
									</div>
								</div>
							</slick>
							<!-- end: CAROUSEL -->
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-white panel-carousel dots-left no-border no-radius">
						<div class="panel-body no-padding height-200">
							<!-- start: CAROUSEL -->
							<slick dots=true arrows=false infinite=false speed=300 autoplay=true autoplay-speed=6000 slides-to-show=1 slides-to-scroll=1 class="carousel">
								<div class="slide padding-20 height-200" style="background: url('assets/images/carousel/03.jpg')">
									<h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Dashboard Users <i class="fa fa-arrow-circle-o-right"></i></h5>
									<h3>Scott Baldwin</h3>
									<span class="label partition-green">Editor</span>
									<span class="cl-effect-3 links block margin-top-10">
										<a href="#" class="uppercase text-dark text-uppercase text-bold text-extra-small">
											show details <i class="padding-left-5 fa fa-angle-right"></i>
										</a></span>
								</div>
								<div class="slide padding-20 height-200" style="background: url('assets/images/carousel/04.jpg')">
									<h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Dashboard Users <i class="fa fa-arrow-circle-o-right"></i></h5>
									<h3>Sally Myers</h3>
									<span class="label partition-purple">Administrator</span>
									<span class="cl-effect-3 links block margin-top-10">
										<a href="#" class="uppercase text-dark text-uppercase text-bold text-extra-small">
											show details <i class="padding-left-5 fa fa-angle-right"></i>
										</a></span>
								</div>
								<div class="slide padding-20 height-200" style="background: url('assets/images/carousel/05.jpg')">
									<h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Dashboard Users <i class="fa fa-arrow-circle-o-right"></i></h5>
									<h3>Nicholas Parker</h3>
									<span class="label partition-orange">Contributor</span>
									<span class="cl-effect-3 links block margin-top-10">
										<a href="#" class="uppercase text-dark text-uppercase text-bold text-extra-small">
											show details <i class="padding-left-5 fa fa-angle-right"></i>
										</a></span>
								</div>
							</slick>
							<!-- end: CAROUSEL -->
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-white no-border no-radius">
						<ct-paneltool class="panel-tools" tool-refresh="load1"></ct-paneltool>
						<div class="panel-body no-padding">
							<div class="margin-bottom-10 padding-20">
								<h5 class="text-bold text-extra-small text-dark-transparent text-uppercase no-margin">Expenses YTD <i class="fa fa-arrow-circle-o-right"></i></h5>
								<h2 class="margin-top-15 margin-bottom-10">$30.6M</h2>
								<span class="label background-light text-dark margin-top-10 margin-right-5">+15.3K</span><span class="text-extra-small">+0.05%</span>
							</div>
							<!-- /// controller:  'BarCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
							<div ng-controller="BarCtrl">
								<canvas class="chart chart-bar height-75" chart-data="data" chart-options="options" chart-labels="labels" chart-series="series" chart-colours="colors"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-white no-radius no-border">
						<ct-paneltool class="panel-tools" tool-refresh="load1"></ct-paneltool>
						<div class="panel-body no-padding">
							<div class="padding-20 margin-bottom-10">
								<h5 class="text-bold text-extra-small text-dark-transparent text-uppercase no-margin">Real-Time <i class="fa fa-arrow-circle-o-right"></i></h5>
								<div class="block text-center">
									<!-- /// controller:  'RandomCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
									<div ng-controller="RandomCtrl">
										<h2 class="text-bold margin-top-5 margin-bottom-5">{{randomUsers}}</h2>
										<span class="text-dark-transparent margin-bottom-15 block">active users on site</span>
									</div>
									<div class="height-80">
										<!-- /// controller:  'KnobCtrl1' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
										<div class="inline-block margin-right-25" ng-controller="KnobCtrl1">
											<ui-knob value="value" options="options"></ui-knob><span class="text-muted block">CPU used</span>
										</div>
										<!-- /// controller:  'KnobCtrl2' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
										<div class="inline-block" ng-controller="KnobCtrl2">
											<ui-knob value="value" options="options"></ui-knob><span class="text-muted block">RAM used</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-5">
			<div class="panel panel-white no-radius">
				<div class="panel-heading border-bottom">
					<h4 class="panel-title">Sales Performance</h4>
					<ct-paneltool class="panel-tools" tool-refresh="load1" tool-expand="tool-expand"></ct-paneltool>
				</div>
				<div class="panel-body padding-20">
					<div class="margin-bottom-30">
						<p class="text-black">
							Key strengths of sales force
						</p>
						<h3><i class="fa fa-sort-up small text-red margin-right-5"></i><span class="text-bold text-dark margin-right-10">10.6m</span><span class="text-grey">(53%)</span></h3>
						<p>
							<span class="text-light margin-right-5">Source:</span><span>CT Sales Skills Audit</span>
						</p>
					</div>
					<div class="margin-top-25">
						<!-- /// controller:  'SalesCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
						<div ng-controller="SalesCtrl">
							<canvas class="chart chart-bar height-230" chart-data="data" chart-options="options" chart-labels="labels" chart-series="series" chart-colours="colors"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: SECOND SECTION -->
<!-- start: THIRD SECTION -->
<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-md-12 col-lg-7">
			<div class="panel panel-white no-radius" id="panelsocial">
				<div class="panel-heading border-light">
					<h4 class="panel-title">Social Marketing</h4>
					<ct-paneltool class="panel-tools" tool-collapse="tool-collapse" tool-dismiss="tool-dismiss"></ct-paneltool>
				</div>
				<div uib-collapse="panelsocial" ng-init="panelsocial=false" class="panel-wrapper">
					<div class="panel-body no-padding">
						<div class="row">
							<div class="col-sm-6">
								<div class="padding-10 block text-center">
									<p>
										<span class="text-bold">Social Traffic</span><span class="text-light"> (7 days)</span>
									</p>
									<!-- /// controller:  'SocialCtrl1' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
									<div ng-controller="SocialCtrl1">
										<div class="text-center">
											<span class="mini-pie-150"> <canvas class="chart chart-polar-area" chart-data="data" chart-options="options" chart-labels="labels" chart-series="series" chart-colours="colors"></canvas> </span>
										</div>
									</div>
									<h4><i class="fa fa-sort-up small text-green margin-right-5"></i><span class="text-bold text-dark margin-right-10">Facebook</span><span class="text-grey">(43.98%)</span></h4>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="padding-10 block text-center">
									<p>
										<span class="text-bold">Social Traffic</span><span class="text-light"> (30 days)</span>
									</p>
									<!-- /// controller:  'SocialCtrl2' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
									<div ng-controller="SocialCtrl2">
										<div class="text-center">
											<span class="mini-pie-150"> <canvas class="chart chart-polar-area" chart-data="data" chart-options="options" chart-labels="labels" chart-series="series" chart-colours="colors"></canvas> </span>
										</div>
									</div>
									<h4><i class="fa fa-sort-up small text-green margin-right-5"></i><span class="text-bold text-dark margin-right-10">Twitter</span><span class="text-grey">(72.11%)</span></h4>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer border-light">
						<div class="clearfix padding-5 padding-top-10 padding-bottom-10 space5">
							<div class="col-xs-6 text-center no-padding">
								<div class="border-right border-light">
									<span class="text-bold block text-extra-large">34,468</span>
									<span class="text-light text-extra-small">Male Fans</span>
								</div>
							</div>
							<div class="col-xs-6 text-center no-padding">
								<div>
									<span class="text-bold block text-extra-large">28,657</span>
									<span class="text-light text-extra-small">Female Fans</span>
								</div>
							</div>
						</div>
						<p class="margin-top-15">
							<a href="#"><i class="fa fa-arrow-circle-o-down text-green"></i></a>
							<span class="text-light margin-left-10">Show more details </span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-5">
			<div class="panel panel-white no-radius">
				<div class="panel-heading border-bottom">
					<h4 class="panel-title">Campaign Options</h4>
					<ct-paneltool class="panel-tools" tool-dismiss="tool-dismiss" tool-expand="tool-expand"></ct-paneltool>
				</div>
				<div class="panel-body">
					<!-- /// controller:  'BudgetCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
					<div ng-controller="BudgetCtrl">
						<p>
							<span class="text-bold">Daily Budget</span><span class="text-light"> (USD)</span>
						</p>
						<input ng-model="dailyValue" type="text" slider options="dailyOptions" />
						<p class="padding-top-10">
							<span class="text-bold">Total Budget</span><span class="text-light"> (USD)</span>
						</p>
						<input ng-model="totalValue" type="text" slider options="totalOptions" />
						<div class="padding-top-5">
							<p class="text-bold">
								Estimated Daily Reach
							</p>
							<hr class="margin-top-15 margin-bottom-15" />
							<p class="text-bold text-small">
								5,300 - 14,000 people
							</p>
							<uib-progressbar class="progress-sm no-radius no-margin background-dark" value="25" type="purple"></uib-progressbar>
							<p class="no-margin">
								<span class="text-extra-small text-light pull-left">0</span>
								<span class="text-extra-small text-light pull-right">of 18,000,000</span>
							</p>
						</div>
					</div>
				</div>
				<div class="panel-footer no-border">
					<p class="no-margin">
						<a href="#"><i class="fa fa-arrow-circle-o-down text-green"></i></a>
						<span class="text-light margin-left-10">Show more details </span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: THIRD SECTION -->
<!-- start: FOURTH SECTION -->
<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<div class="panel panel-white">
				<div class="panel-heading border-bottom">
					<h4 class="panel-title">Latest posts</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<ul class="media-list margin-top-15">
								<li class="media margin-bottom-30">
									<div class="media-left">
										<a href="#">
											<div class="icons-effect">
												<img src="assets/images/portfolio/image01_th.jpg" class="img-responsive img-rounded img-media" alt="">
												<div class="mask mask-rounded">
													<div class="icons-wrapper">
														<div class="icons">
															<a href="#" class="icon">
																<span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-white"></i> <i class="fa fa-search fa-stack-1x text-extra-large text-light"></i> </span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="media-body">
										<h5 class="media-heading">
										<a href="#">
											Where does Angular come in?
										</a></h5>
										<ul class="list-inline margin-top-5 margin-bottom-5 text-light text-small">
											<li>
												<i class="fa fa-play-circle-o"></i> Video tutorials
											</li>
											<li>
												<i class="fa fa-clock-o"></i> 1 minutes ago
											</li>
										</ul>
										Etiam fringilla vestibulum lacinia. Integer elit orci, blandit non luctus ut...
									</div>
								</li>
								<li class="media margin-bottom-30">
									<div class="media-left">
										<a href="#">
											<div class="icons-effect">
												<img src="assets/images/portfolio/image02_th.jpg" class="img-responsive img-rounded img-media" alt="">
												<div class="mask mask-rounded">
													<div class="icons-wrapper">
														<div class="icons">
															<a href="#" class="icon">
																<span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-white"></i> <i class="fa fa-search fa-stack-1x text-extra-large text-light"></i> </span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="media-body">
										<h5 class="media-heading">
										<a href="#">
											How Google Uses Angular 2 with Dart
										</a></h5>
										<ul class="list-inline margin-top-5 margin-bottom-5 text-light text-small">
											<li>
												<i class="fa fa-play-circle-o"></i> Video tutorials
											</li>
											<li>
												<i class="fa fa-clock-o"></i> 3 minutes ago
											</li>
										</ul>
										Vivamus maximus convallis risus id aliquam. Nunc diam dui, fermentum...
									</div>
								</li>
								<li class="media margin-bottom-15">
									<div class="media-left">
										<a href="#">
											<div class="icons-effect">
												<img src="assets/images/portfolio/image03_th.jpg" class="img-responsive img-rounded img-media" alt="">
												<div class="mask mask-rounded">
													<div class="icons-wrapper">
														<div class="icons">
															<a href="#" class="icon">
																<span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-white"></i> <i class="fa fa-search fa-stack-1x text-extra-large text-light"></i> </span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="media-body">
										<h5 class="media-heading">
										<a href="#">
											Multi-slot transclusion
										</a></h5>
										<ul class="list-inline margin-top-5 margin-bottom-5 text-light text-small">
											<li>
												<i class="fa fa-clock-o"></i> 6 minutes ago
											</li>
										</ul>
										Quisque vehicula nec lacus id consequat. Duis tempor metus non tellus...
									</div>
								</li>
							</ul>
						</div>
						<div class="col-lg-6">
							<ul class="media-list margin-top-15">
								<li class="media margin-bottom-30">
									<div class="media-left">
										<a href="#">
											<div class="icons-effect">
												<img src="assets/images/portfolio/image04_th.jpg" class="img-responsive img-rounded img-media" alt="">
												<div class="mask mask-rounded">
													<div class="icons-wrapper">
														<div class="icons">
															<a href="#" class="icon">
																<span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-white"></i> <i class="fa fa-search fa-stack-1x text-extra-large text-light"></i> </span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="media-body">
										<h5 class="media-heading">
										<a href="#">
											Command Line Interface
										</a></h5>
										<ul class="list-inline margin-top-5 margin-bottom-5 text-light text-small">
											<li>
												<i class="fa fa-clock-o"></i> 1 minutes ago
											</li>
										</ul>
										Curabitur nibh sem, consequat nec euismod a, volutpat vitae justo...
									</div>
								</li>
								<li class="media margin-bottom-30">
									<div class="media-left">
										<a href="#">
											<div class="icons-effect">
												<img src="assets/images/portfolio/image05_th.jpg" class="img-responsive img-rounded img-media" alt="">
												<div class="mask mask-rounded">
													<div class="icons-wrapper">
														<div class="icons">
															<a href="#" class="icon">
																<span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-white"></i> <i class="fa fa-search fa-stack-1x text-extra-large text-light"></i> </span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="media-body">
										<h5 class="media-heading">
										<a href="#">
											Tools, Libraries, Books, and Training
										</a></h5>
										<ul class="list-inline margin-top-5 margin-bottom-5 text-light text-small">
											<li>
												<i class="fa fa-play-circle-o"></i> Video tutorials
											</li>
											<li>
												<i class="fa fa-clock-o"></i> 7 minutes ago
											</li>
										</ul>
										Nulla egestas et nulla in imperdiet. Sed nec ipsum pharetra, tincidunt mi ut...
									</div>
								</li>
								<li class="media margin-bottom-15">
									<div class="media-left">
										<a href="#">
											<div class="icons-effect">
												<img src="assets/images/portfolio/image06_th.jpg" class="img-responsive img-rounded img-media" alt="">
												<div class="mask mask-rounded">
													<div class="icons-wrapper">
														<div class="icons">
															<a href="#" class="icon">
																<span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-white"></i> <i class="fa fa-search fa-stack-1x text-extra-large text-light"></i> </span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="media-body">
										<h5 class="media-heading">
										<a href="#">
											Angular 1 and Angular 2 integration
										</a></h5>
										<ul class="list-inline margin-top-5 margin-bottom-5 text-light text-small">
											<li>
												<i class="fa fa-play-circle-o"></i> Video tutorials
											</li>
											<li>
												<i class="fa fa-clock-o"></i> 10 minutes ago
											</li>
										</ul>
										Vivamus vitae pharetra libero. Donec ultrices porta leo. Quisque massa sapien...
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="panel panel-white no-radius">
				<div class="panel-heading border-bottom">
					<h4 class="panel-title">Comments</h4>
				</div>
				<div class="panel-body">
					<div class="media padding-left-10 padding-right-10">
						<a href="#" class="pull-left">
							<img alt="image" class="img-circle" src="assets/images/avatar-2.jpg">
						</a>
						<div class="media-body ">
							<small class="pull-right text-light">5 mins ago</small>
							<strong>Nicole Bell</strong> posted on your <strong>timeline</strong>.
							<br>
							<small class="text-light">125 Likes - 12 Comments - 25 Shares</small>
							<div class="well padding-15 margin-top-15">
								In placerat feugiat odio a ullamcorper. Aliquam vel justo vel nisl sollicitudin bibendum. Donec a vehicula risus, a pellentesque metus.
							</div>
							<div class="pull-right">
								<a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
							</div>
						</div>
					</div>
					<div class="media padding-left-10 padding-right-10">
						<a href="#" class="pull-left">
							<img alt="image" class="img-circle" src="assets/images/avatar-3.jpg">
						</a>
						<div class="media-body ">
							<small class="pull-right text-light">12 mins ago</small>
							<strong>Steven Thompson</strong> posted on your <strong>timeline</strong>.
							<br>
							<small class="text-light">111 Likes - 28 Comments - 9 Shares</small>
							<div class="well padding-15 margin-top-15">
								Praesent egestas vehicula arcu, eu tincidunt lacus porta quis. Ut turpis metus.
							</div>
							<div class="pull-right">
								<a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: FOURTH SECTION -->
