<div class="summary-wrapper">
	<div class="info-alert hidden-xs">
		<span class="info-icon"><i class="icon info-circle"></i></span><span translate="contactinfo.NOADDRESSADDED"></span>
		<span class="pull-right close-btn"><i class="fa fa-close"></i></span></div>
	<div class="left-card-wrapper">
	    <div class="card-wrapper">
	    	<div class="card-header">
	    		<div class="card-title" translate="contactinfo.CLIENTS"></div>
	    		<div class="card-button" translate="contactinfo.VIEWDETAILS"></div>
	    	</div>
	    	<div class="clients-wrapper">
	    		<table class="card-table-wrapper">
	    			<tbody>
	    				<tr>
	    					<td translate="contactinfo.ADULTS"></td>
	    					<td>{{contact.ClientFirstName}}&nbsp;{{contact.ClientLastName}}</td>
	    				</tr>
	    				<tr>
	    					<td translate="contactinfo.CHILDREN"></td>
	    					<td class="disabled" translate="contactinfo.NOCHILDRENLISTED"></td>
	    				</tr>
	    				<tr>
	    					<td translate="contactinfo.PHONE"></td>
	    					<td>{{contact.ContactNumber}}</td>
	    				</tr>
	    				<tr>
	    					<td translate="contactinfo.EMAIL"></td>
	    					<td class="email">{{contactInfo.MainEmail}}</td>
	    				</tr>
	    				<tr>
	    					<td translate="contactinfo.ADDRESS"></td>
	    					<td class="address">
	    						<img src="assets/images/dunedin-map.jpg" class="map"/>
	    						<div>{{contactInfo.Addresses[0].formatted_address}}</div>
	    					</td>
	    				</tr>
	    			</tbody>
	    		</table>
	    	</div>
	    </div>
	</div>
	<div class="right-card-wrapper">
	    <div class="card-wrapper">
	    	<div class="card-header">
	    		<div class="card-title" translate="contactinfo.LOANS"></div>
	    		<div class="card-button" translate="contactinfo.VIEWDETAILS"></div>
	    	</div>
	    	<div class="clients-wrapper">
	    		<table class="table table-striped table-hover" id="loans-table">
	    			<tbody>
	    				<tr ng-repeat="loan in clientLoans">
	    					<td>{{loan.amount}}</td>
	    					<td><span translate="contactinfo.BORROWEDBY"></span> {{loan.loanee}} <span translate="contactinfo.FROM"></span> <b>{{loan.loaner}}</b></td>
	    					<td class="blue-button" translate="contactinfo.SUBMITTEDTOLENDER"></td>
	    				</tr>
	    			</tbody>
	    		</table>
	    	</div>
	    </div>
	    <div class="card-wrapper existing-benefits">
	    	<div class="card-header">
	    		<div class="card-title"><span translate="contactinfo.EXISTINGBENEFITS"></span><span class="count">{{exisitingBenefits.length}}</span></div>
	    		<div class="card-button" translate="contactinfo.VIEWDETAILS"></div>
	    	</div>
	    	<div class="clients-wrapper">
	    		<table class="table table-striped table-hover" id="loans-table">
	                <thead>
	                    <tr>
	                    	<th translate="contactinfo.BENEFIT"></th>
	                        <th translate="contactinfo.COVERAMTEXCESS"></th>
	                        <th translate="contactinfo.INSURER"></th>
	                    </tr>
	                </thead>
	    			<tbody>
	    				<tr ng-repeat="benefit in exisitingBenefits">
	    					<td>{{benefit.name}}</td>
	    					<td>{{benefit.amount}}</td>
	    					<td>
	    						<div class="company-logo-wrapper"><div class="company-logo {{benefit.insurer}}"></div></div>
	    					</td>
	    				</tr>
	    			</tbody>
	    		</table>
	    	</div>
	    </div>
	</div>
</div>