<!-- start: MAIN NAVIGATION MENU -->
<div class="menu-divider"></div>
<div class="navbar-title">
    <span translate="sidebar.heading.NAVIGATION">Main Navigation</span>
</div>
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <div class="item-content">
                <div class="item-media">
                    <i class="icon dashboard"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.dashboard.MAIN"> Dashboard </span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.contacts">
            <div class="item-content">
                <div class="item-media">
                    <i class="icon contacts"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.contacts.MAIN"> Contacts </span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.loantools">
            <div class="item-content">
                <div class="item-media">
                    <i class="icon loantools"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.loantools.MAIN"> Loan Tools </span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.insurancetools">
            <div class="item-content">
                <div class="item-media">
                    <i class="icon insurancetools"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.insurancetools.MAIN"> Insurance Tools </span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.workflow">
            <div class="item-content">
                <div class="item-media">
                    <i class="icon workflow"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.workflow.MAIN"> Workflow </span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.communicate">
            <div class="item-content">
                <div class="item-media">
                    <i class="icon communicate"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.communicate.MAIN"> Communicate </span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.report">
            <div class="item-content">
                <div class="item-media">
                    <i class="icon report"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.report.MAIN"> Report </span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.commission">
            <div class="item-content">
                <div class="item-media">
                    <i class="icon commission"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.commission.MAIN"> Commission </span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.resources">
            <div class="item-content">
                <div class="item-media">
                    <i class="icon resources"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.resources.MAIN"> Resources </span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.referral">
            <div class="item-content">
                <div class="item-media">
                    <i class="icon referral"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.referral.MAIN"> Referral </span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </a>
    </li>
    
</ul>
<!-- end: MAIN NAVIGATION MENU -->
<!-- start: USERS -->
<div class="menu-divider"></div>
<div class="navbar-title">
    <span translate="sidebar.heading.USERS">USERS</span>
</div>
<ul class="folders">
    <li>
        <a ui-sref="app.feedback">
            <div class="item-content">
                <div class="item-media">
                    <i class="icon feedback"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.feedback.MAIN"> Feedback </span>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="app.users">
            <div class="item-content">
                <div class="item-media">
                    <i class="icon users"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.users.MAIN"> Users </span>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="app.customisetheme">
            <div class="item-content">
                <div class="item-media">
                    <i class="icon customise"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.customisetheme.MAIN"> Customise theme </span>
                </div>
            </div>
        </a>
    </li>
    <div class="menu-divider"></div>
</ul>
<div class="copyright">&copy; Copyright 2016 NZFSG</div>
<!-- end: USERS -->