<!-- start: TOP NAVBAR -->
<header class="navbar navbar-default navbar-static-top hidden-print">
    <!-- start: NAVBAR HEADER -->
    <div class="navbar-header">
        <button href="javascript:void(0)" class="menu-mobile-toggler btn no-radius pull-left hidden-md hidden-lg" id="horizontal-menu-toggler" ng-click="menuToggle()" v-pressable>
            <i class="fa fa-bars"></i>
        </button>
        <button href="javascript:void(0)" class="sidebar-mobile-toggler btn no-radius pull-left hidden-md hidden-lg" id="sidebar-toggler" ng-click="toggle('sidebar')" v-pressable>
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" ui-sref="app.dashboard"> <img ng-src="{{app.layout.logo}}" alt="{{app.name}}" /> </a>
        <a class="navbar-brand navbar-brand-collapsed" ui-sref="app.dashboard"> <img ng-src="{{app.layout.logoCollapsed}}" alt="" /> </a>
        <button href="javascript:void(0)" class="btn sidebar-toggler visible-xs recently-viewed" v-pressable>
            <i class="icon recently-viewed"></i>
        </button>
        <button href="javascript:void(0)" class="btn sidebar-toggler visible-xs launch" v-pressable>
            <i class="icon launch"></i>
        </button>
        <button href="javascript:void(0)" class="btn sidebar-toggler visible-xs notification" v-pressable>
            <i class="icon notification"></i>
        </button>
    </div>
    <!-- end: NAVBAR HEADER -->
    <!-- start: NAVBAR COLLAPSE -->
    <div class="navbar-collapse collapse" uib-collapse="navbarCollapsed" ng-init="navbarCollapsed = true" off-click="navbarCollapsed = true" off-click-if='!navbarCollapsed' off-click-filter="'#menu-toggler'">
        <ul class="nav navbar-left hidden-sm hidden-xs">
            <li class="sidebar-toggler-wrapper">
                <div>
                    <button href="javascript:void(0)" class="btn sidebar-toggler visible-md visible-lg" ng-click="app.layout.isSidebarClosed = !app.layout.isSidebarClosed" v-pressable>
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </li>
            <li>
                <a ng-click="goFullscreen()"> <i class="fa fa-expand" ng-show="!isFullscreen"></i> <i class="fa fa-compress" ng-show="isFullscreen"></i></a>
            </li>
            <li>
                <form role="search" class="navbar-form main-search">
                    <div class="form-group">
                        <input type="text" placeholder="{{ 'search.PLACEHOLDER' | translate }}" class="form-control">
                        <button class="btn search-button" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </li>
            <li class="buttons-wrapper">
                <button href="javascript:void(0)" class="btn sidebar-toggler visible-md visible-lg recently-viewed" v-pressable>
                    <i class="icon recently-viewed"></i>
                </button>
            </li>
            <li class="buttons-wrapper">
                <button href="javascript:void(0)" class="btn sidebar-toggler visible-md visible-lg launch" v-pressable>
                    <i class="icon launch"></i>
                </button>
            </li>
        </ul>
        <ul class="nav navbar-right" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice">
            <li>
                <div class="user-greeting-wrapper">
                    <div class="welcome-greeting">{{ 'topbar.WELCOMEBACK' | translate }}</div>&nbsp;
                    <div class="user-name">James Punnet</div>
                    <div class="dropdown-arrow-wrapper">
                        <i class="icon arrow-down"></i>
                    </div>
                </div>
            </li>
            <!-- start: MESSAGES DROPDOWN -->
            <!-- /// controller:  'InboxCtrl' -  localtion: assets/js/controllers/InboxCtrl.js /// -->
            <li class="icon-wrapper">
                <button href="javascript:void(0)" class="btn sidebar-toggler visible-md visible-lg" v-pressable>
                    <i class="icon setting"></i>
                </button>
                <button href="javascript:void(0)" class="btn sidebar-toggler visible-md visible-lg" v-pressable>
                    <i class="icon tag"></i>
                    <div class="angular-notifications-icon overlay notification-marker"></div>
                </button>
                <button href="javascript:void(0)" class="btn sidebar-toggler visible-md visible-lg" v-pressable>
                    <i class="icon logout"></i>
                </button>
                <button href="javascript:void(0)" class="btn sidebar-toggler visible-md visible-lg" v-pressable>
                    <i class="icon notification"></i>
                    <div class="angular-notifications-icon overlay notification-marker"></div>
                </button>
            </li>
        </ul>
    </div>
    <!-- end: NAVBAR COLLAPSE -->
</header>
<!-- end: TOP NAVBAR -->
<!-- start: HORIZONTAL MENU -->
<div data-ng-include=" 'assets/views/partials/horizontal-menu.html' " class="navbar navbar-default horizontal-menu collapse" uib-collapse="horizontalNavbarCollapsed" off-click="menuInit(true)" off-click-if='!horizontalNavbarCollapsed' off-click-filter="'#horizontal-menu-toggler'">

</div>
<!-- end: HORIZONTAL MENU -->
