@font-face {
    font-family: "Helvetica-Light";
    src: url('../fonts/HelveticaLt.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelveticaLt.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body,
h3, h4, h5 {
  font-family: "Helvetica-Light", Helvetica, Arial, sans-serif !important;
}

.lyt-2 #sidebar .sidebar-container {
  background: #1b1439 !important;
}

.lyt-2 .navbar .navbar-header {
  background: #1b1439 !important;
  background-image: url(../images/corner-rect.png) !important;
  background-repeat: no-repeat !important;
  background-position: right 10px top 0 !important;  
}

.navbar .navbar-header .navbar-brand {
  float: none;
  position: relative;
  margin: auto;
  display: table;
}

.navbar-title {
  padding-left: 27px !important;
  color: #fff !important;
}

#sidebar > div nav > ul li {
  padding: 0 5px;
  height: 40px;
}

#sidebar > div nav {
  padding-top: 0;
}

#sidebar > div nav .navbar-title {
  padding-top: 15px !important;
}

.lyt-2 #sidebar > div nav > ul {
  margin-bottom: 22px;
}

.lyt-2 #sidebar > div nav > ul > li .item-media {
  padding: 15px;
}

.lyt-2 #sidebar > div nav > ul > li .item-media {
  padding-left: 27px !important;
  padding-right: 0 !important;
}

.lyt-2 #sidebar > div nav > ul > li .item-inner {
  font-size: 13px;
}

.icon {
  height: 13px;
  width: 18px;
  display: block;
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 90% 100%;
  background-repeat: no-repeat;
}

.icon.dashboard {
  background-image: url(../images/crm_icons_svg/dashboard.svg);
}

.icon.contacts {
  background-image: url(../images/crm_icons_svg/contacts.svg);
}

.icon.loantools {
  background-image: url(../images/crm_icons_svg/loantools.svg);
}

.icon.insurancetools {
  background-image: url(../images/crm_icons_svg/insurancetools.svg);
}

.icon.workflow {
  background-image: url(../images/crm_icons_svg/workflow.svg);
}

.icon.communicate {
  background-image: url(../images/crm_icons_svg/communicate.svg);
}

.icon.report {
  background-image: url(../images/crm_icons_svg/report.svg);
}

.icon.commission {
  background-image: url(../images/crm_icons_svg/commission.svg);
}

.icon.resources {
  background-image: url(../images/crm_icons_svg/resources.svg);
}

.icon.referral {
  background-image: url(../images/crm_icons_svg/referrals.svg);
}

.icon.feedback {
  background-image: url(../images/crm_icons_svg/feedback.svg);
}

.icon.users {
  background-image: url(../images/crm_icons_svg/users.svg);
}

.icon.customise {
  background-image: url(../images/crm_icons_svg/customise.svg);
}

.icon.launch {
  background-image: url(../images/crm_icons_svg/launch.svg);
}

.icon.recently-viewed {
  background-image: url(../images/crm_icons_svg/recently_viewed.svg);
}

.icon.setting {
  background-image: url(../images/crm_icons_svg/settings.svg);
}

.icon.tag {
  background-image: url(../images/crm_icons_svg/tag.svg);
}

.icon.logout {
  background-image: url(../images/crm_icons_svg/logout.png);
  height: 17px;
  width: 23px;
}

.icon.notification {
  background-image: url(../images/crm_icons_svg/notification.svg);
}

.icon.arrow-down {
  background-image: url(../images/crm_icons_svg/arrow_down.png);
  height: 4px;
  width: 7px;
}

.icon.add {
  background-image: url(../images/crm_icons_svg/add_sm.svg);
}

.icon.merge {
  background-image: url(../images/crm_icons_svg/merge.svg);
}

.icon.filter {
  background-image: url(../images/crm_icons_svg/filter.svg);
}

.icon.edit {
  background-image: url(../images/crm_icons_svg/edit.svg);
}

.icon.delete {
  background-image: url(../images/crm_icons_svg/delete.svg);
}

.icon.notes {
  background-image: url(../images/crm_icons_svg/notes.svg);
}

.icon.bookmark {
  background-image: url(../images/crm_icons_svg/bookmark.svg);
}

.icon.person {
  background-image: url(../images/crm_icons_svg/person.svg);
}

.icon.message {
  background-image: url(../images/crm_icons_svg/message.svg);
}

.icon.check {
  background-image: url(../images/crm_icons_svg/check.svg);
}

.icon.info-circle {
  background-image: url(../images/crm_icons_svg/info-circle.svg);
}

.icon.edit:hover {
  background-image: url(../images/crm_icons_svg/edit_hover.svg);
}
.icon.delete:hover {
  background-image: url(../images/crm_icons_svg/delete_hover.svg);
}

.main-content {
  background-color: #ece8f0 !important;
}

.breadcrumb-wrapper {
  background-color: #ece8f0;
}

.navbar .navbar-collapse {
  background-color: #fff !important;
}

.navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn {
  background-color: transparent;
  border-color: transparent;
  color: #9b88aa !important;
  padding: 6px 4px;
  font-size: 17px;
}

.navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn > i {
  color: #9b88aa !important;
}

.navbar .navbar-collapse .navbar-left > li > a i {
    color: #9b88aa !important;
}

.navbar .navbar-left > li:before {
  background: none !important;
}

.navbar .navbar-collapse .navbar-left > li > a {
  padding: 0;
}

.navbar .navbar-collapse .navbar-left > li .main-search .form-control {
  height: 30px;
  width: 228px;
  margin: 15px 0 !important;
  border: 1px solid #ddd !important;
  font-size: 13px !important;
  padding: 5px 10px !important;
}

.navbar .navbar-collapse .navbar-left > li .main-search .search-button {
  height: 33px !important;
  line-height: 33px;
}

.navbar .navbar-right > li.icon-wrapper {
  display: flex;
  height: 60px;
}

.navbar .navbar-collapse .navbar-right .angular-notifications-icon.notification-marker {
  height: 9px;
  border: 9px;
  top: 20px;
  min-width: 9px;
  right: 9px;
  padding: 0;
  background: #eb8b8b;
}

.navbar .navbar-collapse button.btn.recently-viewed {
  background-color: #7266BA;
  border-color: #7266BA;
  color: #ffffff !important;
  height: 31px;
  width: 31px;
  padding: 7px !important;
  margin: 14px 0 !important;
  border-radius: 3px;
}

.navbar .navbar-collapse button.btn.launch {
  background-color: #3baebb;
  border-color: #3baebb;
  color: #ffffff !important;
  height: 31px;
  width: 31px;
  padding: 7px !important;
  margin: 14px 0 !important;
}

.navbar .navbar-collapse button.btn.recently-viewed i,
.navbar .navbar-collapse button.btn.launch i {
  height: 16px;
}

.navbar .navbar-collapse .navbar-right .user-greeting-wrapper {
  display: flex;
  height: 60px;
  line-height: 60px;
}

.navbar .navbar-collapse .navbar-right .user-greeting-wrapper .welcome-greeting {
  color: #5f5566;
}

.navbar .navbar-collapse .navbar-right .user-greeting-wrapper .user-name {
  color: #2dbfc1;
}

.navbar .navbar-collapse .navbar-right > li:before {
  background: none !important;
  border-right: 1px solid #ddd;
  margin: 18px 0;
}

.navbar .navbar-collapse .navbar-right > li.icon-wrapper:before {
  border-right: none;
}

.navbar .navbar-collapse .navbar-right > li.icon-wrapper > button.btn {
  padding: 6px 10px;
  width: 36px;
}

.navbar .navbar-collapse .nav {
  margin: 0;
}

.dropdown-arrow-wrapper {
  padding: 27px 4px 27px 14px;
}

.navbar .navbar-left > li.buttons-wrapper {
  padding: 0;
  padding-right: 10px;
}

.navbar .navbar-collapse .navbar-left > li .main-search .search-button {
  color: #9b88aa !important;
}

.lyt-2 #sidebar > div nav > ul > li.active {
  background: -moz-linear-gradient(45deg, rgba(47,39,84,1) 55%, rgba(41,33,76,1) 69%, rgba(39,31,74,1) 72%, rgba(29,22,60,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(55%, rgba(47,39,84,1)), color-stop(69%, rgba(41,33,76,1)), color-stop(72%, rgba(39,31,74,1)), color-stop(100%, rgba(29,22,60,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(47,39,84,1) 55%, rgba(41,33,76,1) 69%, rgba(39,31,74,1) 72%, rgba(29,22,60,1) 100%) !important; /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(47,39,84,1) 55%, rgba(41,33,76,1) 69%, rgba(39,31,74,1) 72%, rgba(29,22,60,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(47,39,84,1) 55%, rgba(41,33,76,1) 69%, rgba(39,31,74,1) 72%, rgba(29,22,60,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(47,39,84,1) 55%, rgba(41,33,76,1) 69%, rgba(39,31,74,1) 72%, rgba(29,22,60,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d163c', endColorstr='#2f2754',GradientType=1 ); /* ie6-9 */
  border-left: none !important;
}

.lyt-2 #sidebar > div nav > ul > li .item-inner i.fa-angle-right {
  right: 20px;
  line-height: 18px;
  position: absolute;
}

.menu-divider {
  background-color: rgb(16, 11, 37);
  box-shadow: 0px 1px 1px 0px #333;
  left: 0px;
  top: 54px;
  width: 220px;
  height: 1px;
  z-index: 260;
}

.breadcrumb-wrapper {
  padding: 30px 30px 25px 30px;
  height: 75px;
  border-bottom: none;
}

.mainTitle {
  display: inline-block;
  font-size: 21px;
  color: #827a89;
}

.panel-body {
  padding: 10px 15px 10px 42px;
  min-height: 590px;
}

.navbar .navbar-header .btn.sidebar-toggler.visible-xs.recently-viewed {
  position: absolute;
  top: 0;
  right: 60px;
}

.navbar .navbar-header .btn.sidebar-toggler.visible-xs.launch {
  position: absolute;
  top: 0;
  right: 30px;
}

.navbar .navbar-header .btn.sidebar-toggler.visible-xs.notification {
  position: absolute;
  top: 0;
  right: 0px;
}

#sidebar > div nav > ul > li a[ui-sref="app.customisetheme"] {
    color: #3baebb;
}

.copyright {
    text-align: center;
    font-size: 11px;
}
/* Contacts List */
.contact-list-wrapper .table > thead > tr > th,
.contact-list-wrapper .table > tbody > tr > th,
.contact-list-wrapper .table > tfoot > tr > th {
  color: #83738d !important;
  padding: 8px 15px;
}

.contact-list-wrapper .table > thead > tr > td,
.contact-list-wrapper .table > tbody > tr > td,
.contact-list-wrapper .table > tfoot > tr > td {
  color: #6d4d83 !important;
  padding: 8px 15px;
  border-color: #d2c5d8;
}

.contact-list-wrapper .contact-list-header-info {
  display: inline-block;
  font-size: 11px;
  color: #827a89;
  padding-left: 12px;
}

.contact-list-wrapper .contact-list-header-info.count {
  padding: 0 25px 0 30px;
  border-right: 1px solid #c4bdcb;
}

.contact-list-wrapper .last-update-date {
  font-style: italic;
  font-weight: bold;
}

.contact-list-wrapper button.btn.add-contacts {
  font-size: 12px;
  height: 35px;
  width: 128px;
  background-color: #2dbfc1;
  color: #fff;
}

.contact-list-wrapper .breadcrumb-wrapper button.btn {
  font-size: 12px;
  height: 35px;
  color: #fff;
  font-weight: bold;
  padding: 6px 10px;
}

.contact-list-wrapper .breadcrumb-wrapper button.btn.add-contacts {
  width: 128px;
  background-color: #2dbfc1;
  margin-right: 10px;
}

.contact-list-wrapper .breadcrumb-wrapper button.btn.merge-contacts {
  width: 134px;
  background-color: #ccc9d0;
}

.contact-list-wrapper .container-fullw {
  padding: 0 30px;
}

input[type='radio'] {
  margin-top: -30px;
}

input[type='radio'] {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  width: 13px;
  height: 13px;
  margin: 0;
  margin-right: 1px;
  display: block;
  float: left;
  position: relative;
  cursor: pointer;
}

input[type='radio']:after {
  content: "";
  vertical-align: middle;
  text-align: center;
  line-height: 13px;
  position: absolute;
  cursor: pointer;
  height: 13px;
  width: 13px;
  left: 0;
  top: 0;
  font-size: 10px;
  -webkit-box-shadow: inset 0 1px 1px #fff, 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 1px #fff, 0 1px 0 #fff;
  box-shadow: inset 0 1px 1px #fff, 0 1px 0 #fff;
  background: #fff;
  border: 1px solid #a697ad;
  border-radius: 2px;
}

.table-striped > tbody > tr:nth-child(2n+1) {
  background: #fff !important;
}

.table-striped>tbody>tr:nth-of-type(even) {
  background: #f5f2f8;
}

.table-striped>tbody>tr:nth-of-type(even) input[type='radio']:after {
  -webkit-box-shadow: inset 0 1px 1px #f5f2f8, 0 1px 0 #f5f2f8;
  -moz-box-shadow: inset 0 1px 1px #f5f2f8, 0 1px 0 #f5f2f8;
  box-shadow: inset 0 1px 1px #f5f2f8, 0 1px 0 #f5f2f8;
  background: #f5f2f8;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #feffe6 !important;
  -webkit-box-shadow: inset 0 1px 1px #f5f2f8, 0 1px 0 #f5f2f8;
  -moz-box-shadow: inset 0 1px 1px #f5f2f8, 0 1px 0 #f5f2f8;
  box-shadow: inset 0 1px 1px #f5f2f8, 0 1px 0 #f5f2f8;
}

.table-striped>tbody>tr:hover input[type='radio']:after {
  background-color: #feffe6;
  border: 1px solid #a697ad;
}

.table-striped>tbody>tr input[type='radio']:checked:after {
  background: #2dbfc1;
  border: #2dbfc1;
  content: '\2714';
  color: #fff;
}

input[type='radio']:hover:after, input[type='radio']:checked:hover:after {
  background: #2dbfc1;
  border: #2dbfc1;
  content: '\2714';
  color: #fff;
}

.table-striped>tbody>tr:nth-of-type(even) td:first-child {
  border-left: 1px solid #d2c5d8;
}

.table-striped>tbody>tr:nth-of-type(odd) td:first-child {
  border-left: 1px solid transparent;
}

.table-striped>tbody>tr:nth-of-type(even) td:last-child {
  border-right: 1px solid #d2c5d8;
}

.table-striped>tbody>tr:nth-of-type(odd) td:last-child {
  border-right: 1px solid transparent;
}

.contact-list-wrapper .navbar-form.main-search {
  background: none;
  border: 1px solid #ddd;
  height: 30px;
  padding: 0;
  width: 205px;
  font-size: 13px;
  font-weight: normal;
  float: right;
}

.contact-list-wrapper .navbar-form .form-control {
  font-size: 13px !important;
  padding: 10px 15px !important;
}

.contact-list-wrapper .table > thead > tr > th:last-child {
  padding-right: 0;
}

.contact-list-wrapper .navbar-form .search-button {
    color: #9b88aa !important;
}

.contact-list-wrapper .breadcrumb-wrapper button.btn > .icon {
  margin: 3px 7px 3px 0;
  float: left;
  height: 11px;
}

.contact-list-wrapper .breadcrumb-wrapper button.btn > span {
  float: left;
}

.contact-list-wrapper #contact-list-table thead tr th > .icon.filter {
  display: inline-block;
  margin: -1px 3px;
  height: 11px;
}

.contact-list-wrapper #contact-list-table a.btn-transparent.edit,
.contact-list-wrapper #contact-list-table a.btn-transparent.delete {
  padding: 5px 2px 5px 4px;
  border-radius: 23px;
}

.contact-list-wrapper #contact-list-table a.btn-transparent.edit:hover,
.contact-list-wrapper #contact-list-table a.btn-transparent.delete:hover {
  background-color: #f59393;
}

.contact-list-wrapper .letter-filter {
  position: absolute;
  top: 50px;
  width: 42px;
  padding: 0 8px;
}

.contact-list-wrapper .letter-filter .letter {
  height: 15px;
  width: 15px;
  text-transform: uppercase;
  margin: 5px;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  color: #83738d;
  font-size: 11px;
}

.contact-list-wrapper .letter-filter .letter.selected-contact{
  background-color: #2dbfc1;
  color: #fff;
}

/* Contact Info */
.contact-info-wrapper .card-wrapper {
  padding: 15px 20px;
  border: 1px solid #d3ccd6;
  border-radius: 3px;
  display: block;
}

.contact-info-wrapper .card-table-wrapper td{
  border: 1px solid #d2c5d8;
  padding: 15px 20px;
}

.contact-info-wrapper .card-table-wrapper td:first-child {
  background-color: #f2eff5;
  font-weight: bold;
  color: #83738d;
  text-align: right;
  vertical-align: top;
}

.contact-info-wrapper .card-table-wrapper td:last-child {
  width: 60%;
  color: #6d4d83;
}

.contact-info-wrapper .card-table-wrapper td.email {
  color: #3bc3c5;
  font-weight: bold;
}

.contact-info-wrapper .card-table-wrapper td.disabled {
  color: #dad2e0;
}

.contact-info-wrapper .card-wrapper .card-header {
  padding-bottom: 15px;
}

.contact-info-wrapper .card-wrapper .card-header > * {
  display: inline-block;
}

.contact-info-wrapper .card-wrapper .card-header > .card-button {
  float: right;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 22px;
  color: #3bc3c5;
}

.contact-info-wrapper .card-wrapper .card-header > .card-title {
  font-size: 15px;
  font-weight: bold;
  color: #705e7b;
}

.contact-info-wrapper .card-table-wrapper td.address {
  padding-bottom: 33px;
}

.contact-info-wrapper .card-table-wrapper td.address .map {
  height: 60px;
  padding-bottom: 10px;
}

.contact-info-wrapper .panel.panel-white {
  width: 70%;
  display: inline-block;
}

.contact-info-wrapper .tab-content > .tab-pane {
  justify-content: space-between;
}

.contact-info-wrapper .left-card-wrapper {
  display: inline-block;
  float: left;
  width: 50%;
}

.contact-info-wrapper .right-card-wrapper {
  float: left;
  width: 50%;
  padding-left: 20px;
}

.contact-info-wrapper .right-card-wrapper > .card-wrapper:first-child {
  margin-bottom: 20px;
}

.contact-info-wrapper .table-striped>tbody>tr:nth-of-type(odd) td {
  border-top: 1px solid #d2c5d8;
}

.contact-info-wrapper .table-striped>tbody>tr:nth-of-type(odd) td:first-child {
  border-left: 1px solid #d2c5d8;
}

.contact-info-wrapper .table-striped>tbody>tr:nth-of-type(odd) td:last-child {
  border-right: 1px solid #d2c5d8;
}

.contact-info-wrapper .table-striped>tbody>tr>td {
    color: #6d4d83 !important;
}

.contact-info-wrapper .table-striped>tbody > tr > td.blue-button {
  color: #3bc3c5 !important;
  font-weight: bold;
}

.contact-info-wrapper .table-striped>tbody>tr>td:first-child {
  color: #6d4d83 !important;
  font-weight: bold;
}

.contact-info-wrapper .existing-benefits .table-striped>tbody>tr>td {
  border: 1px solid #e5dfe9;
  text-align: center;
}

.contact-info-wrapper .existing-benefits .table-striped>thead>tr>th{
  background: #f5f2f8;
  border: 1px solid #e5dfe9;
  text-align: center;
  color: #705e7b !important;
}

.contact-info-wrapper .panel-body {
  min-height: 550px;
  padding-left: 15px;
}

.contact-info-wrapper .card-table-wrapper {
  width: 100%;
}

.contact-info-wrapper .side-panel-wrapper {
  display: inline-block;
  float: right;
  width: 28%;
}

.client-info-side-panel-wrapper {
  width: 100%;
}

.client-info-side-panel-wrapper .card-panel-wrapper {
  padding: 15px 20px;
  box-shadow: 1px 7px 24px -6px #ddd;
  margin-bottom: 10px;
  background-color: #fff;
}

.client-info-side-panel-wrapper .card-panel-header {
  padding-bottom: 15px;
  color: #77598b;
  font-weight: bold;
  font-size: 12px;
}

.client-info-side-panel-wrapper .task-list-item {
  border-top: 1px solid #efe9f3;
  padding: 10px 0;
}

.client-info-side-panel-wrapper .task-list-item-header > input[type="radio"]{
  margin-top: 3px;
}

.client-info-side-panel-wrapper .task-list-item-header .task-name {
  font-size: 12px;
  font-weight: bold;
  color: #77598b;
  padding-left: 10px;
  padding-right: 5px;
}

.client-info-side-panel-wrapper .task-status {
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  background-color: #f68f8f;
  padding: 4px;
  border-radius: 2px;
}

.client-info-side-panel-wrapper .task-list-item-desc {
  font-size: 12px;
  padding-left: 24px;
  color: #705e7b;
}

.client-info-side-panel-wrapper .task-list-item-owner {
  font-size: 12px;
  padding-left: 24px;
  font-weight: bold;
  color: #a290b0;
}

.client-info-side-panel-wrapper .task-date {
  display: inline;
  font-size: 11px;
}

.client-info-side-panel-wrapper .card-panel-header .card-title {
    display: inline-block;
}

.client-info-side-panel-wrapper .card-panel-header .card-button {
  float: right;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3bc3c5;
  display: inline;
}

.client-info-side-panel-wrapper .task-list-item-desc > span {
  color: #3bc3c5;
  font-weight: bold;
}

.client-info-side-panel-wrapper .task-list-item-note-desc {
  font-size: 12px;
  color: #705e7b;
}

.client-info-side-panel-wrapper .task-list-item-header .task-note-name {
  font-size: 12px;
  font-weight: bold;
  color: #77598b;
}

.contact-info-wrapper .tabbable {
  background: none;
}

.btn.create-note {
  background-color: #2dbfc1;
  margin-right: 10px;
  color: #fff;
  display: flex;
  font-size: 12px;
  padding: 5px;
}

.contact-info-wrapper .breadcrumb-wrapper {
  margin: 25px 30px 30px 15px;
  height: 20px;
  padding: 0;
}

.contact-info-wrapper .breadcrumb-wrapper .breadcrumb {
  left: 0;
  height: 25px;
  display: block;
}

.contact-info-wrapper .mainTitle {
  padding-left: 15px;
  color: #6d4d83;
}

.contact-info-wrapper .buttons-wrapper {
  display: inline-block;
}

.contact-info-wrapper .buttons-wrapper > div {
  display: inline-block;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 11px;
  margin: 0 2px;
}

.contact-info-wrapper .buttons-wrapper > div.send-email-btn {
  background-color: #544890;
}

.contact-info-wrapper .buttons-wrapper > div.send-mail-btn {
  background-color: #5b9bd1;
}

.contact-info-wrapper .buttons-wrapper > div.print-btn {
  background-color: #2dbfc1;
}

.contact-info-wrapper .contact-list-header-info {
  display: inline-block;
  font-size: 11px;
  color: #685f6f;
  padding: 0 13px;
}

.contact-info-wrapper .contact-list-header-info .last-update-date {
  font-weight: bold;
  font-style: italic;
}

.contact-info-wrapper .right-card-wrapper .card-wrapper {
  padding-bottom: 0;
}

.nav-tabs {
  margin: 0 15px;
}

.nav-tabs > li.active {
  border: 1px solid #f4f2f5;
  border-radius: 5px;
  background: none !important;
  box-shadow: none;
}

.nav-tabs > li a {
  font-size: 12px;
  padding: 8px 15px 15px 15px;
  color: #83738d;
}

.nav-tabs > li.active a {
  color: #705e7b !important;
  font-weight: bold;
  background: #fcfbfd;
  padding: 8px 30px 15px 30px;
  box-shadow: none !important;
}

.info-alert {
  height: 40px;
  background: #5998d0;
  color: #fff;
  line-height: 40px;
  padding: 0 20px;
  margin-top: 16px;
  margin-bottom: 20px;
  border: none !important;
}

.breadcrumb {
  background-image: url('../images/crumbs-bg.png');
  background-repeat: no-repeat;
}

.breadcrumb>li+li:before,
.breadcrumb>li+li:after {
  display: none;
}

.breadcrumb>li:first-child {
  display: none;
}

.breadcrumb>li {
  height: 25px;
  top: 0;
  width: 89px;
  text-align: center;
  line-height: 25px;
  display: inline-block;
  overflow: hidden;
  color: #6d4d83;
  margin: 0 2px;
  font-size: 12px;
}

.breadcrumb>li:nth-child(2) {
  font-weight: bold;
  color: #3bc3c5;
}

#app > footer {
  display: none !important;
}

.client-info-side-panel-wrapper .card-panel-header .card-title > .icon {
  display: inline-block;
  margin: -2px 0;
}

.contact-info-wrapper .count {
  height: 5px;
  width: 5px;
  border-radius: 10px;
  background-color: #a18eaf;
  color: #fff;
  padding: 1px 5px;
  margin-left: 5px;
  font-size: 9px;
}

.contact-info-wrapper .existing-benefits .count {
  padding: 2px 5px;
}
.contact-info-wrapper .icon.person {
  width: 12px;
  margin-right: 3px;
  display: inline-block;
}

.client-info-side-panel-wrapper .tab.disabled {
  opacity: 0.6;
  margin-left: 15px;
}

.client-info-side-panel-wrapper .ra .task-list-item-header .task-name {
  padding-left: 0;
}

.client-info-side-panel-wrapper .ra .task-list-item-desc {
  padding: 0;
}

.client-info-side-panel-wrapper  .ra-icon-wrapper {
  display: inline-block;
  padding: 7px;
  border: 1px solid #e1dae6;
  border-radius: 3px;
  margin-right: 10px;
}

.close-btn {
  color: #333;
  opacity: 0.3;
}

.info-icon {
  display: inline-block;
  margin: -2px 5px -2px 0;
}

.company-logo-wrapper {
  margin: auto;
  width: 40px;
}

.company-logo {
  background-image: url(../images/companies.png);
  height: 20px;
  width: 40px;
  background-size: 500%;
}

.company-logo.anz {
  background-position-x: -41px;
}

.company-logo.alife {
  background-position-x: -128px;
}
/* Client tab */

.client-tab-wrapper .table-striped>thead>tr>th {
  background: #f5f2f8;
  border: 1px solid #e5dfe9 !important;
  color: #705e7b !important;
  border-right: none !important;
  border-bottom: none !important;
}

.client-tab-wrapper .table-striped>tbody>tr>td {
  border: 1px solid #e5dfe9 !important;
  color: #705e7b !important;
  border-right: none !important;
  border-bottom: none !important;
}

.client-tab-wrapper .table-striped>tbody>tr>td:first-child {
  font-weight: normal;
}

.client-tab-wrapper .table-striped>thead>tr>th:last-child,
.client-tab-wrapper .table-striped>tbody>tr>td:last-child {
  border-right: 1px solid #e5dfe9 !important;
}

.client-tab-wrapper .table-striped>tbody>tr:last-child>td{
  border-bottom: 1px solid #e5dfe9 !important;
}

.client-tab-wrapper .btn.add-existing,
.client-tab-wrapper .btn.add-client {
  background-color: #2dbfc1;
  color: #fff;
  font-size: 12px;
  margin-bottom: 12px;
}

.client-tab-wrapper .btn.add-client {
  background-color: #544890;
}

.client-tab-wrapper .btn.add-existing .icon.add,
.client-tab-wrapper .btn.add-client .icon.add {
  display: inline-block;
  margin: -2px 0;
}

.client-tab-wrapper .client-relationships-panel {
  padding-top: 16px;
}

.client-tab-wrapper .client-relationships-panel .header,
.client-tab-wrapper .client-contact-info-panel .header{
  display: inline;
  font-size: 15px;
  color: #705e7b;
  font-weight: bold;
}

.client-tab-wrapper .client-relationships-panel .relationship-header .btn.add-relationship{
  display: inline-block;
  right: 15px;
  position: absolute;
}

.client-tab-wrapper .client-relationships-panel .relationship-content {
  border: 1px solid #e5dfe9;
  background: #f5f2f8;
  padding: 43px 0;
  text-align: center;
  border-radius: 3px;
  color: #a799b3;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 30px;
}

.client-tab-wrapper .client-contact-info-panel .contact-info-content {
  border: 1px solid #e5dfe9;
  background: #f5f2f8;
  padding: 30px 20px;
  border-radius: 3px;
  color: #a799b3;
  font-weight: bold;
  margin-top: 15px;
  display: flex;
}

.address-wrapper {
  display: inline-grid;
  border-bottom: 1px solid #e6e2e9;
  width: 100%;
}

.address-wrapper .header {
  display: inline-block;
  text-align: left;
}

.address-wrapper .field-wrapper {
  display: flex;
  width: 100%;
}

.address-wrapper .field-wrapper .field-label {
  width: 50%;
  text-align: right;
  font-size: 11px;
  font-weight: normal;
  color: #705e7b;
  padding: 20px;
}

.client-tab-wrapper .client-contact-info-panel .left-panel {
  width: 50%;
}

.address-wrapper {
  width: 100%;
}

.address-wrapper .field-wrapper .field-input textarea,
.address-wrapper .field-wrapper .field-input input[type="text"] {
  font-size: 14px !important;
  color: #705e7b !important;
  font-weight: normal;
  width: 100%;
  padding: 5px 10px;
}

.address-wrapper .field-wrapper .field-input textarea::placeholder,
.address-wrapper .field-wrapper .field-input input[type="text"]::placeholder {
  font-size: 11px !important;
}

.address-wrapper .field-wrapper .field-input .checkbox {
  font-size: 13px;
  font-weight: normal;
  color: #705e7b;
  margin-top: 20px;
}

.address-wrapper .field-wrapper .field-input {
  padding: 15px 0;
  width: 100%;
}

.address-wrapper:nth-child(2) {
  padding: 20px 0;
}

.address-wrapper:last-child {
  border-bottom: none;
}

.address-wrapper .field-wrapper .field-input .checkbox.include {
  margin-top: 0px;
  margin-top: 10px;
}

.client-tab-wrapper .client-contact-info-panel .contact-info-content .right-panel {
  width: 50%;
  margin-left: 40px;
  margin-top: 37px;
  border: 1px solid #d3ccd7;
  border-radius: 5px;
  background: #fff;
  padding: 20px 0;
}

.address-wrapper .field-wrapper .field-input .checkbox > input {
  margin-top: 3px;
}

.client-tab-wrapper .client-contact-info-panel .right-panel .address-wrapper .field-wrapper .field-input > input[type="text"],
.crm-modal-content .address-wrapper .field-wrapper .field-input > input[type="text"] {
  width: 133px;
  border: 1px solid #d3ccd7;
}

.client-tab-wrapper .client-contact-info-panel .right-panel .address-wrapper .field-wrapper,
.crm-modal-content .address-wrapper .field-wrapper {
  min-height: 40px;
}

.client-tab-wrapper .client-contact-info-panel .right-panel .address-wrapper .field-wrapper .field-input,
.crm-modal-content .address-wrapper .field-wrapper .field-input {
    padding: 5px 0;
}

.client-tab-wrapper .client-contact-info-panel .right-panel .address-wrapper .field-wrapper .field-input > .add-btn {
  background-color: #544890;
  height: 25px;
  width: 25px;
  float: right;
  padding: 5px;
  border: none;
  border-radius: 2px;
  right: 15px;
  position: relative;
  margin: 2px 0;
}

.client-tab-wrapper .client-contact-info-panel .right-panel .address-wrapper .field-wrapper .field-label,
.crm-modal-content .address-wrapper .field-wrapper .field-label {
  text-align: left;
  width: 73%;
  padding: 5px 20px;
}

.btn.login {
  display: -webkit-box;
  background-color: #7266BA;
  width: 100px;
  padding: 6px 32px;
  color: #fff;
  margin-top: 10px;
  z-index: 99;
}

/* Modal */

.crm-modal-header {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #d5ccda;
  background: #f2eff5;
  color: #504a65;
}

.crm-modal-content {
      padding: 15px 20px;
}

.crm-modal-content .address-wrapper .field-wrapper .field-label {
      padding: 5px 0 !important;
}

.crm-modal-content .address-wrapper .field-wrapper .field-input > input[type="text"] {
      width: 100%;
}

.save-close-btn {
    background-color: #2dbfc1;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}