@media (max-width: 767px) {
  .navbar .navbar-header .navbar-brand {
    margin: 0;
  }

  .lyt-2 .navbar .navbar-header {
    background-image: none !important;
  }

  .contact-list-wrapper .letter-filter {
    position: absolute;
    top: 50px;
    width: 42px;
    padding: 0 8px;
    left: -35px;
  }

  .panel-body {
    padding: 10px 15px;
  }

  .contact-list-wrapper .navbar-form.main-search {
    position: absolute;
    right: -15px;
    top: -50px;
    border: none;
  }

  .table-striped>tbody>tr:nth-of-type(even) {
    background: none;
  }

  .table-striped>tbody>tr:nth-of-type(even) td:first-child,
  .table-striped>tbody>tr:nth-of-type(even) td:last-child {
    border-left: none;
    border-right: none;
  }

  .table-hover > tbody > tr:hover > td,
  .table-hover > tbody > tr:hover > th {
    background: none !important;
  }

  .contact-family-details-table {
    width: 100%;
  }

  .contact-full-family-name.selected-contact .visible-xs.contact-family-details {
    width: 100%;
    left: 15px;
    margin-top: 20px;
  }

  .contact-full-family-name.selected-contact .visible-xs.contact-family-details .contact-family-details-table td{
    border: 1px solid #d2c5d8;
    padding: 6px 10px;
  }

  .contact-full-family-name.selected-contact .visible-xs.contact-family-details .contact-family-details-table td:first-child {
    background-color: #f2eff5;
    font-weight: bold;
    color: #83738d;
  }

  .contact-full-family-name.selected-contact .visible-xs.contact-family-details .contact-family-details-table td:last-child {
    width: 60%;
  }

  .contact-list-wrapper .action-buttons .btn {
    visibility: hidden;
    transition: none !important;
    width: 0;
  }

  .contact-list-wrapper .action-buttons.selected-contact .btn {
    visibility: visible;
    width: auto;
  }

  .table-striped>tbody>tr:nth-of-type(even) input[type='radio']:after {
    -webkit-box-shadow: inset 0 1px 1px #fff, 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 1px #fff, 0 1px 0 #fff;
    box-shadow: inset 0 1px 1px #fff, 0 1px 0 #fff;
    background: #fff;
  }

  .table-striped>tbody>tr input[type='radio']:checked:after {
    background: #2dbfc1;
    border: #2dbfc1;
    content: '\2714';
    color: #fff;
  }

  .view-full-contact-info-btn {
    margin: 15px 0;
    background: #3baebb;
    color: #fff;
    font-size: 13px;
    padding: 10px 0;
    text-align: center;
    border-radius: 2px;
  }

  .contact-list-wrapper .table > tbody > tr > td:first-child {
    padding-left: 0;
    width: 15px !important;
  }

  .contact-list-wrapper .table > tbody > tr.selected-contact > td {
    vertical-align: top;
  }

  .contact-list-wrapper .table > tbody > tr > td.contact-full-family-name {
    padding-left: 0;
  }

  .table#contact-list-table>thead:first-child>tr:first-child>th {
    padding: 8px 0;
  }

  .contact-list-wrapper .table > tbody > tr > td.contact-full-family-name > .contact-info-panel,
  .contact-list-wrapper .table > tbody > tr > td.contact-full-family-name > .contact-info-panel > .action-buttons {
    display: flex !important;
    line-height: 25px;
  }

  .contact-list-wrapper .table > tbody > tr > td.contact-full-family-name > .contact-info-panel > .contact-family-full-name-sm {
    padding: 0 15px;
  }

  .contact-list-wrapper .table > tbody > tr > td.contact-full-family-name > .contact-info-panel input[type='radio'] {
    margin: 5px 0;
  }

  .contact-info-wrapper .breadcrumb-wrapper {
    margin: 25px 0 20px 0;
  }

  .contact-info-wrapper .mainTitle {
    padding: 0;
  }

  .contact-info-wrapper .buttons-wrapper {
    display: block;
    padding: 20px 0 15px 0;
  }

  .nav-tabs > li {
    display: none;
    text-align: right;
  }

  .menu-shown > .nav-tabs > li {
    display: contents;
  }

  .nav-tabs > li.active {
    display: block;
  }

  .contact-info-wrapper .panel.panel-white {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }

  .contact-info-wrapper .panel-body {
    width: 100%;
    padding: 10px 0;
  }

  .contact-info-wrapper .left-card-wrapper {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }

  .contact-info-wrapper .card-wrapper {
    border: none;
    padding: 0;
  }

  .contact-info-wrapper .card-table-wrapper {
    width: 100%;
  }

  .table-striped>tbody>tr:nth-of-type(even) td:first-child {
    border-left: 1px solid #e5dfe9;
  }

  .table-striped>tbody>tr:nth-of-type(even) td:last-child {
    border-right: 1px solid #e5dfe9;
  }

  .contact-info-wrapper .side-panel-wrapper {
    width: 100%;
  }

  .nav-tabs {
    border: 1px solid #cdc5d4;
    border-radius: 3px;
  }

  .nav-tabs > li.active {
    border: none;
    background: none !important;
  }

  .menu-shown > .nav-tabs > li.active {
    position: absolute;
    top: 30px;
  }

  .nav-tabs > li.active a {
    background: none;
  }

  .contact-info-wrapper .container-fluid.container-fullw {
    padding-top: 0;
  }

  .client-tab-wrapper .client-contact-info-panel .contact-info-content {
    width: 100%;
    display: block;
    padding: 20px 10px;
  }

  .client-tab-wrapper .client-contact-info-panel .left-panel {
    width: 100%;
  }

  .client-tab-wrapper .client-contact-info-panel .contact-info-content .right-panel {
    width: 100%;
    margin: 0;
    float: none !important;
  }

  .client-tab-wrapper .client-contact-info-panel .right-panel .address-wrapper .field-wrapper {
    display: block;
  }

  .client-tab-wrapper .client-contact-info-panel .right-panel .address-wrapper .field-wrapper .field-input {
    padding: 5px 20px;
    display: flex;
  }

  .client-tab-wrapper .client-contact-info-panel .right-panel .address-wrapper .field-wrapper .field-input > input[type="text"] {
    width: 100%;
  }

  .client-tab-wrapper .client-contact-info-panel .right-panel .address-wrapper .field-wrapper .field-input > .add-btn {
    right: -7px;
  }

  .client-tab-wrapper .client-contact-info-panel .address-wrapper .field-wrapper {
    display: block;
  }

  .client-tab-wrapper .client-contact-info-panel .address-wrapper .field-wrapper .field-label {
    text-align: left;
    padding: 15px 0;
  }

  .client-tab-wrapper .client-contact-info-panel .address-wrapper .field-wrapper .field-input {
    padding: 0;
  }

  .client-tab-wrapper .client-contact-info-panel .address-wrapper .field-wrapper .field-input .checkbox {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .client-tab-wrapper .client-contact-info-panel .address-wrapper:nth-child(3) .field-wrapper .field-label {
    display: none;
  }

  #client-tab-table {
    display: block;
    overflow-x: scroll;
  }

  .toggle-tabs-btn {
    position: absolute;
    right: 30px;
    color: #705e7b;
    margin: 8px 0;
    font-size: 17px;
  }
  .toggle-tabs-btn.menu-shown {
    display: none !important;
  }
  .contact-info-wrapper .right-card-wrapper {
    padding-left: 0;
    width: 100%;
  }
}